.fruitscol{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

}

.fruitsbody{
    background-size: cover;
    width:100vw;
    min-height: 100vh;
}

.fruitimg{
    width:50%;
    height:50%;
    margin: 20px;
}